/* Draft.css */

.mypost {
  text-align: center;
}

.post {
  display: flex;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add the box shadow */
    padding: 10px;
    margin-left: 40px;
    max-width: 680px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.post-details {
  flex: 1;
}

.edit-delete-options button {
  margin-right: 5px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-delete-options button:hover {
  background-color: #2980b9;
}

.draft-textarea
,.draft-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.draft-textarea{
  resize: vertical;
  height: 150px;
}



